@model List<Category>
@section Title {Categories }
@section SubTitle {Show Categories }
@section Buttons {
    <a asp-controller="Categories" asp-action="Create" class="btn rounded-pill btn text-white btnCreate ">Create Category</a>
}

@if (!Model.Any())
{
    <div class="card-body">
        <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        No Data Found
        </div>
    </div>
}
else
{
    <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>CreatedOn Date</th>
                <th style="width: 40px">UpdateOn Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td class="CategoryTableTD">@item.Id</td>
                    <td class="CategoryTableTD">@item.Name</td>
                    <td class="CategoryTableTD">@item.CreatedOn</td>
                    <td class="CategoryTableTD">@item.UpdatedOn</td>
                    <td class="CategoryTableTD">
                        <a asp-controller="Categories" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

        
   